.section {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(232, 232, 232);
    margin-bottom: 5px;
}

@media (max-width: 767px) {
    .section {
        width: 100%;
    }
}

.section__header {
    padding: 20px;
    background-color: rgba(255, 255, 255);
    border-bottom: 2px solid rgba(232, 232, 232);
    margin: 0;
    font-size: 20px;
}

.section__tasks {
    list-style: none;
    padding: 15px;
    margin: 20px;
}

.section--withButtons {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    border: none;
    border-bottom: 2px solid rgba(232, 232, 232);

}

.section__buttons {
    padding: 20px 40px 20px 0;

}

.section__header--withButtons {
    border-bottom: none;
}